.license-agreement-container {
	.border-details {
		border: 1px solid #e2e2e4;
		border-radius: 12px;

		.icon-background {
			background-color: #e2e2e4;
			border-radius: 50%;
			height: 40px;
			width: 40px;
		}

		.text-agreement {
			border-top: 1px solid #e2e2e4;
			color: #3f404b;
			font-size: 0.813rem;
			line-height: 1rem;

			&-text-primary {
				margin-bottom: 0.625rem;
			}

			&-text-secondary {
				font-weight: 400;
			}
		}
	}
}
