Dear [$TO_NAME$],<br /><br />

You have been invited to work on a publication. For further information, please visit:<br /><br />
<a href="[$PORTAL_PUBLICATION_REVIEW_CHANGES_URL$]">[$PUBLICATION_NAME$]</a><br /><br />

Sincerely,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
[$PORTAL_URL$]<br />